* {
  font-family: "Roboto", sans-serif;
}

.btn-income {
  background-color: #dbecd6;
  width: 10rem;
  font-size: 1.5rem;
}

.btn-expenses {
  background-color: #ecd6db;
  width: 10rem;
  font-size: 1.5rem;
}

.btn-submit {
  background-color: #dbecd6;
  width: 15rem;
}
