* {
  font-family: "Roboto", sans-serif;
}
.col {
  padding: 0;
}

.btn-all {
  border: none;
  /* padding: 5px 10px; */
}

.btn-income {
  background-color: #dbecd6;
  width: 10rem;
  font-size: 1.5rem;
}

.btn-expenses {
  background-color: #ecd6db;
  width: 10rem;
  font-size: 1.5rem;
}

.btn-submit {
  background-color: #dbecd6;
  width: 15rem;
}
