/* .reg-input-div {
  padding-top: 20px;
}
.reg-input {
  width: 50%;
}
.reg-button-register {
  height: 50px;
  width: 150px;
  background-color: rgb(37, 70, 129);
  font-size: 1.7rem;
  margin-top: 50px;
} */

.Registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.Registration-form input {
  max-width: 50%;
}

.Registration-container {
  padding: 1em;
}

.Registration-button {
  display: flex;
  gap: 10px;
}

.Registration-button button:hover {
  background-color: #3a3845;
  color: #f4efe7;
}

.Registration-button button {
  padding: 0.5em 1em;
  transition: 0.3s;
  cursor: pointer;
  background-color: #f4efe7;
  width: 19.5vw;
  border: 0.5px solid grey;
}

h1 {
  text-align: center;
}
