.Login-container {
  max-width: 100%;
  padding: 1em;
}

.Login-form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Login-button {
  display: flex;
  gap: 10px;
}

.Login-button button {
  padding: 0.5em 1em;
  border-radius: 7px;
  transition: 0.3s;
  cursor: pointer;
  background-color: #dfe1e2;
}

.Login-form input {
  max-width: 50%;
}

.Login-button button:hover {
  background-color: #c6c8c9;
}
