* {
  font-family: "Roboto", sans-serif;
}
.custom-button {
  width: 50px;
  color: #3a3845;
}

.custom-button-more {
  width: 14%;
  padding: 2px;
}

.expenses-sum {
  color: #bc6e7f;
  font-weight: bolder;
}

.income-sum {
  color: #7fbc6e;
  font-weight: bolder;
}
.text-income {
  border-left: 5px solid #add4a2;
}

.text-expenses {
  border-left: 5px solid #d4a2ad;
}
.form-control:focus,
.form-select:focus {
  border-color: #7fbc6e !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.custom-button-tr:focus {
  border-color: #d4a2ad !important;
  box-shadow: 0 0 0 0.2rem rgba(187, 137, 148, 0.25) !important;
}

.custom-button-edit:focus {
  border-color: #575051 !important;
  box-shadow: 0 0 0 0.2rem rgba(159, 158, 158, 0.25) !important;
}

.custom-button-more:focus {
  border: none !important;
  box-shadow: none !important;
}

.custom-td {
  border: none;
}

.smaller-td {
  width: 12vw;
}

.custom-input {
  border: 0.5px solid grey;
}
