body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.AtomImg {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
  left: 25%;
  top: 23%;
}

@media (prefers-reduced-motion: no-preference) {
  .AtomImg {
    animation: AtomImg-spin infinite 20s linear;
  }
}

.text {
  width: 80%;
  position: relative;
  left: 550px;
  top: 200px;
  display: flex;
  flex-direction: column;
  color: #3a3845;
}

.text h2 {
  font-size: 5rem;
  margin: 3px 0;
}

.text p {
  font-size: 2rem;
  margin: 5px 0;
}

.errorHome {
  margin: 10px 0;
  text-decoration: none;
  font-size: 1.4rem;
  color: #bc6e7f;
}

@keyframes AtomImg-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
